body {
    background-image: url('https://img.freepik.com/foto-gratis/textura-papel_23-2147786525.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
  }